<!--
{{COPYRIGHT}}
Artifact-ID: {{ARTIFACT_ID}}
Created-Local: {{CREATED_LOCAL}}
Creating-Agent: {{CREATING_AGENT}}
Runtime: {{RUNTIME}}
Dispatched-Model: {{DISPATCHED_MODEL}}
Reasoning-Effort: {{REASONING_EFFORT}}
-->
